<nb-layout>
  <nb-layout-header>
    <h5 class="app__title">Potolki Sokol Admin Panel</h5>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card>
      <nb-tabset fullWidth>
        <nb-tab
          class="app__tab"
          tabTitle="🎨 Примеры работ"
        >
          <div class="app__tab-wrap">
            <div class="app__tab-header">
              <button
                fullWidth
                nbButton
                size="tiny"
                (click)="handleWorksAddVideoClick($event)"
              >
                Добавить видео 🎥
              </button>

              <button
                fullWidth
                nbButton
                size="tiny"
                (click)="handleWorksUploadFileClick($event)"
              >
                Добавить фото 📸
              </button>
            </div>

            <div class="app__tab-body">
              @for (video of worksYoutubeVideos(); track video.youtubeId) {
                <psa-youtube-item-card [id]="video.youtubeId" />
              }

              @for (file of worksFiles(); track file.id) {
                <psa-img-item-card
                  [img]="file"
                  (delete)="handleRemoveWorksFile($event)"
                />
              }
            </div>
          </div>
        </nb-tab>

        <nb-tab tabTitle="💬 Отзывы">
          <div class="app__tab-wrap">
            <div class="app__tab-header">
              <button
                fullWidth
                nbButton
                size="tiny"
                (click)="handleReviewsUploadFileClick($event)"
              >
                Добавить фото 📸
              </button>
            </div>

            <div class="app__tab-body">
              @for (file of reviewsFiles(); track file.id) {
                <psa-img-item-card
                  [img]="file"
                  (delete)="handleRemoveWorksFile($event)"
                />
              }
            </div>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<input
  #worksUploader
  hidden
  multiple
  type="file"
  (change)="handleFileInputChange($event, BucketFolderNamesEnum.Works)"
/>

<input
  #reviewsUploader
  hidden
  multiple
  type="file"
  (change)="handleFileInputChange($event, BucketFolderNamesEnum.Reviews)"
/>
